SECRET_KEY=pzgqbau$c4^u^y7!n=*+#mkbe!k_2@q*3@c4fh&pzolts8yj
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
MYSQL_DATABASE=jobportal_db
MYSQL_USER=root
MYSQL_PASSWORD=Swapn@2281
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3307